.container {
    width: 1170px;
    margin: 0 auto;

    @include mq(1366) {
        width: 960px;
    }

    @include mq(1024) {
        width: 100%;
    }

    &-fluid {
        position: relative;
        max-width: 100%;
    }
}

