$os: 'Open Sans', sans-serif;

$white: #fff;
$yellow: #fcaf0c;
$orange: #fb7206;
$green: #459d16;
$black: #000;
$black33: #333333;
$brown: #42140e;
$red: #ff0000;
$dred: #d0021b;
$graycb: #cbcbcb;
$gray97: #979797;
$graye6: #e6e6e6;

$anim_length: .3s;
$anim_easing: ease-in-out;
$slow_anim: .3s ease-in-out;
